<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Child vaccination app</title>

{% load static %}
  {% block content %} 
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/favicons/favicon.ico">
    <link rel="manifest" href="{% static '/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static '/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static '/css/theme.css' %}" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="{% url 'index' %}"><img class="d-inline-block me-3" src="{% static '/img/icons/logo.png' %}" alt="" />Child vaccination app</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
           
              <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Create Account /Login</a></li>
             </ul>
          </div>
        </div>
      </nav>
      <section class="py-0">
        <div class="bg-holder" style="background-image:url({% static '/img/illustrations/dot.png' %});background-position:left;background-size:auto;margin-top:-105px;">
        </div>
        <!--/.bg-holder-->

        <div class="container position-relative">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="{% static '/img/illustrations/about-1.png' %}" alt="" /></div>
            <div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
              <h1 class="mb-4 display-3 fw-bold">Schedule vaccination  <br class="d-block d-lg-none d-xl-block" />for your child.</h1>
              <p class="mt-3 mb-4 fs-1">The booking service will provide an additional option for parents to book a vaccine for their child<br class="d-none d-lg-block" />Child vaccination, accessible on mobile and online<br class="d-none d-lg-block" />for everyone</p>
            </div>
          </div>
        </div>
      </section>
      <section class="py-8">
        <div class="bg-holder" style="background-image:url({% static '/img/illustrations/services-bg.png' %});background-position:center left;background-size:auto;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder" style="background-image:url({% static '/img/illustrations/dot-2.png' %});background-position:center right;background-size:auto;margin-left:-180px;margin-top:20px;">
        </div>
        <!--/.bg-holder-->

        <div class="container-lg">
          <div class="row justify-content-center">
            <div class="col-3 text-center">
              <h2 class="fw-bold">Our services</h2>
              <hr class="w-25 mx-auto text-dark" style="height:2px;" />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-9 col-xl-8 text-center">
              <p>We provide to you the best choiches for you. Vaccinations start early in life to protect children before they are exposed to these diseases</p>
            </div>
          </div>
          <div class="row justify-content-center h-100 pt-7 g-4">
           
           
            <div class="col-sm-8 col-md-4">
              <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                <div class="card-body text-center text-md-start">
                  <div class="py-3"><img class="img-fluid" src="{% static '/img/illustrations/consultation.png' %}" height="90" alt="" /></div>
                  <div class="py-3">
                    <h4 class="fw-bold card-title">Schedule </h4>
                    <p class="card-text">Free consultation with our trusted doctors and get the best recomendations</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-8 col-md-4">
              <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                <div class="card-body text-center text-md-start">
                  <div class="py-3"><img class="img-fluid" src="{% static '/img/illustrations/details-info.png' %}" height="90" alt="" /></div>
                  <div class="py-3">
                    <h4 class="fw-bold card-title">Book Appointment</h4>
                    <p class="card-text">You can get for  your children and your lovely family</p>
                  </div>
                </div>
              </div>
            </div>
           
            <div class="col-sm-8 col-md-4">
              <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                <div class="card-body text-center text-md-start">
                  <div class="py-3"><img class="img-fluid" src="{% static '/img/illustrations/tracking.png' %}" height="90" alt="" /></div>
                  <div class="py-3">
                    <h4 class="fw-bold card-title">Tracking</h4>
                    <p class="card-text">Track and save your medical history and health data </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center py-4">
            </div>
          </div>
        </div>
      </section>
      <section class="py-6 py-lg-8" id="about">
       
        <!--/.bg-holder-->

        <div class="container">
          <div class="row g-xl-0 align-items-center">
            <div class="col-md-6"><img class="img-fluid mb-5 mb-md-0" src="{% static '/img/illustrations/hero-header.jpg' %}" width="480" alt="" /></div>
            <div class="col-md-6 text-center text-md-start">
              <h2 class="fw-bold lh-base">Child vaccination<br />Guide</h2>
              <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
              <p class="pt-3" style="text-align:justify">Parents should try to have their children vaccinated according to the schedule. A significant delay in vaccination puts children at risk of the serious diseases the vaccines could prevent.

If children miss a vaccine dose, parents should talk to their doctor about catching up with the schedule. Missing a dose does not require children to restart the series of injections from the beginning.</p>
              <div class="py-3">
			  <!--
                <button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Learn more </button>
				-->
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="{% static 'https://polyfill.io/v3/polyfill.min.js?features=window.scroll' %}"></script>
    <script src="{% static '/js/theme.js' %}"></script>

    <link href="{% static 'https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&amp;display=swap' %}" rel="stylesheet">
  </body>
  {% endblock %}
</html>