{% include 'vaccination/header.html' %}	
{% block content %}

	 <div class="listview-title mt-2">Child Info Details</div>
        
         <div class="section mt-2">
        
            <div class="row">
             	{% for getdetails1 in getdetails %}
              <div class="col-6">
                    <div class="card product-card" >
                        <div class="card-body" style="line-height: auto;">
                            <h2 class="price"><b>Child name:</b>{{ getdetails1.Childname }}</h2>
							 <p class="text" style="font-size: 16px;"><b>Vaccine 1 Date:</b> {{getdetails1.vaccine_1}}</p>
                            
							 <p class="text" style="font-size: 16px;"><b>Vaccine 2 Date:</b> {{getdetails1.vaccine_2}}</p>
                             
                            <p class="text"style="font-size: 16px;" ><b>Vaccine 3 Date:</b> {{getdetails1.vaccine_3}}</p>
                           <p class="text"style="font-size: 16px;" ><b>Vaccine 4 Date:</b> {{getdetails1.vaccine_4}}</p>
                          
                            
                         
							
		
		

                        </div>
                    
                    </div>
                    
                </div>
             {% endfor %}
            </div>
           

        </div>

    <!-- * App Sidebar -->
     {% if error %}
{{ error }}

{% endif %}

{% endblock %}

    <!-- iOS Add to Home Action Sheet -->
   
    <!-- * iOS Add to Home Action Sheet -->
    <!-- Android Add to Home Action Sheet -->
   
    <!-- * Android Add to Home Action Sheet -->


    <!-- ============== Js Files ==============  -->
    <!-- Bootstrap -->
  
